p {
	font-family: century-gothic, sans-serif;
}

main {
  display: flex;
  position: fixed;
  right: 0;

}
  a {
    padding: 5px;
    text-decoration: none;
    font-family: quatro, sans-serif;
  	font-style: normal;
  	font-weight: 800;
    font-size: 1rem;
    font-weight: 700;
    color: gray;
 /*   background-color: rgba(211,211,211,0.1);*/
 
    /*background-image:url(../img/ball.jpg);*/
}

li a {
	color: white;
  margin: auto;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.8);
  text-align: center;
  padding: 5%;
}
  button {
    background-color: transparent;
    border: 0;
    position: fixed;
    right: 2rem;
    top: 2rem;
    color: #333;
    font-size: 2rem;
    font-weight: 700;
    &:hover {
      cursor: pointer;
      color: #666;
    }
}

.hero {
	padding: 5%;
	background-image:url(../img/0000header.jpg);
	  background-repeat: no-repeat;
	  /*background-attachment: fixed;*/
	  background-position: top;
	  background-size: 100%;
}

.hero h1 {
	text-align: center;
	font-family: charlemagne-std, serif; 
}

.paragraph {
	padding: 4rem;
}

@media screen and (min-width: 64em) {
  main 
    a {
      padding: 15%;
      font-size: 2rem;
  }
}
